<h1> HEROES ASSEMBLE</h1>
<div class="jumbotron">
  <h2 class="display-3">About</h2>
  <p class="lead">The Hero Squad App allows you to to recruit well-balanced team of superheroes.</p>
  <br>
  <p><a href="/squads" class="btn btn-lg btn-warning">View Squad List</a></p>
  <p><a href="/squads/new" class="btn btn-lg btn-success">Add a New Squad</a></p>
</div>
